[Unit]
Description={{ service_description }}
Requires=docker.service
After=docker.service

[Service]
# Environment=NODE_PORT=30000
Type=simple
User={{ user }}
WorkingDirectory={{ home }}
ExecStart=docker-compose -f {{ home }}/docker-compose-controller.yaml -f {{ home }}/docker-compose-controller.prod.yaml up -d
ExecStop=docker-compose -f {{ home }}/docker-compose-controller.yaml -f {{ home }}/docker-compose-controller.prod.yaml down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
