[Unit]
Description={{ service_description }}
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ user }}
WorkingDirectory={{ home }}
ExecStart=docker compose -f {{ home }}/docker-compose-controller.yaml -f {{ home }}/docker-compose-controller.prod.yaml up --wait
ExecStop=docker compose -f {{ home }}/docker-compose-controller.yaml -f {{ home }}/docker-compose-controller.prod.yaml down

[Install]
WantedBy=multi-user.target
